# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/build

# Dependencies
/node_modules
/server/node_modules

# Profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Gradle
.gradle

# Misc
/package-lock.json
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment Files
/.env

# Ignore all files and folders in analysis/study_data and analysis/results
analysis/study_data/
analysis/results/
/analysis/sample/user_1/1/1_print_error_statement_coverage_13320_1167741_0_1027893529873.15_be6dccc04187dd310c753722766e02f4938801c1.csv
/analysis/sample/user_1/1/ide-events_filtered_1711446290763.5986_07fb3d901ded4ab233ee7d7380d5462f4459e721.csv
/analysis/activity_data/task2/student1.csv
/analysis/activity_data/task3/student1.csv
/analysis/activity_data/task4/student1.csv
/analysis/activity_data/task1/student2.csv
/analysis/activity_data/task2/student2.csv
/analysis/activity_data/task3/student2.csv
/analysis/activity_data/task1/student3.csv
/analysis/activity_data/task2/student3.csv
/analysis/activity_data/task3/student3.csv
/analysis/activity_data/task4/student3.csv
/analysis/activity_data/task1/student4.csv
/analysis/activity_data/task2/student4.csv
/analysis/activity_data/task3/student4.csv
/analysis/activity_data/task4/student4.csv
/analysis/activity_data/task1/student5.csv
/analysis/activity_data/task2/student5.csv
/analysis/activity_data/task1/student6.csv
/analysis/activity_data/task1/student7.csv
/analysis/activity_data/task1/student8.csv
/analysis/activity_data/task2/student8.csv
/analysis/activity_data/task1/student9.csv
/analysis/activity_data/task1/student10.csv
/analysis/activity_data/task2/student10.csv
/analysis/activity_data/task1/student11.csv
/analysis/activity_data/task2/student11.csv
/analysis/activity_data/task3/student11.csv
/analysis/activity_data/task4/student11.csv
/analysis/activity_data/task1/student12.csv
/analysis/activity_data/task2/student12.csv
/analysis/activity_data/task3/student12.csv
/analysis/activity_data/task4/student12.csv
/analysis/activity_data/task1/student13.csv
/analysis/activity_data/task2/student13.csv
/analysis/activity_data/task3/student13.csv
/analysis/activity_data/task4/student13.csv
/analysis/activity_data/task1/student14.csv
/analysis/activity_data/task2/student14.csv
/analysis/activity_data/task3/student14.csv
/analysis/activity_data/task4/student14.csv
/analysis/activity_data/task1/student15.csv
/analysis/activity_data/task2/student15.csv
/analysis/activity_data/task3/student15.csv
/analysis/activity_data/task4/student15.csv
/analysis/activity_data/task1/student16.csv
/analysis/activity_data/task2/student16.csv
/analysis/activity_data/task3/student16.csv
/analysis/activity_data/task4/student16.csv
/analysis/activity_data/task1/student17.csv
/analysis/activity_data/task2/student17.csv
/analysis/activity_data/task3/student17.csv
/analysis/activity_data/task4/student17.csv
/analysis/activity_data/task1/student18.csv
/analysis/activity_data/task2/student18.csv
/analysis/activity_data/task3/student18.csv
/analysis/activity_data/task4/student18.csv
/analysis/activity_data/task1/student19.csv
/analysis/activity_data/task2/student19.csv
/analysis/activity_data/task3/student19.csv
/analysis/activity_data/task4/student19.csv
/analysis/activity_data/task1/student20.csv
/analysis/activity_data/task2/student20.csv
/analysis/activity_data/task3/student20.csv
/analysis/activity_data/task4/student20.csv
/analysis/activity_data/task1/student21.csv
/analysis/activity_data/task2/student21.csv
/analysis/activity_data/task1/student22.csv
/analysis/activity_data/task2/student22.csv
/analysis/activity_data/task3/student22.csv
/analysis/activity_data/task4/student22.csv
/analysis/activity_data/task1/student23.csv
/analysis/activity_data/task2/student23.csv
/analysis/activity_data/task3/student23.csv
/analysis/activity_data/task4/student23.csv
/analysis/activity_data/task1/student24.csv
/analysis/activity_data/task2/student24.csv
/analysis/activity_data/task3/student24.csv
/analysis/activity_data/task4/student24.csv
/analysis/activity_data/task1/student25.csv
/analysis/activity_data/task2/student25.csv
/analysis/activity_data/task3/student25.csv
/analysis/activity_data/task4/student25.csv
/analysis/activity_data/task1/student26.csv
/analysis/activity_data/task2/student26.csv
/analysis/activity_data/task3/student26.csv
/analysis/activity_data/task4/student26.csv
/analysis/activity_data/task1/student27.csv
/analysis/activity_data/task2/student27.csv
/analysis/activity_data/task3/student27.csv
/analysis/activity_data/task4/student27.csv
/analysis/activity_data/task1/student28.csv
/analysis/activity_data/task2/student28.csv
/analysis/activity_data/task3/student28.csv
/analysis/activity_data/task4/student28.csv
/analysis/activity_data/task1/student29.csv
/analysis/activity_data/task2/student29.csv
/analysis/activity_data/task3/student29.csv
/analysis/activity_data/task4/student29.csv
/analysis/activity_data/task1/student30.csv
/analysis/activity_data/task2/student30.csv
/analysis/activity_data/task3/student30.csv
/analysis/activity_data/task4/student30.csv
/analysis/activity_data/task1/student31.csv
/analysis/activity_data/task2/student31.csv
/analysis/activity_data/task3/student31.csv
/analysis/activity_data/task4/student31.csv
/analysis/plots/timeline_Task1.png
/analysis/plots/timeline_Task2.png
/analysis/plots/timeline_Task3.png
/analysis/plots/timeline_Task4.png
/analysis/activity_data/task1/student1.csv
/analysis/tableau_plots/~Task 1__7488.twbr
