# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/build

# Dependencies
/node_modules
/server/node_modules

# Profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Gradle
.gradle

# Misc
/package-lock.json
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment Files
/.env

# Ignore all files and folders in analysis/study_data and analysis/results
analysis/study_data/
analysis/results/
/analysis/sample/user_1/1/1_print_error_statement_coverage_13320_1167741_0_1027893529873.15_be6dccc04187dd310c753722766e02f4938801c1.csv
/analysis/sample/user_1/1/ide-events_filtered_1711446290763.5986_07fb3d901ded4ab233ee7d7380d5462f4459e721.csv
